/.cache/
/.mc-lists.el
/backups/
/bookmarks
/custom.el
/elpa/
/elpy/
/eshell/
/init.el
/irony/
/network-security.data
/places
/projectile*
/quelpa/
/recentf
/smex-items
/snippets/
/straight/
/tramp
/transient/
/url/
/var/
